/*0*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/*11*/
.chess__row::after {
    content: "";
    display: table;
    clear: both;
}

/*10*/
.chess__item {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
}

/*10*/
.chess__item img {
    width: 75px;
    vertical-align: middle;
}

/*40*/
.chess__row:nth-child(odd) .chess__item:nth-child(odd),
/*40*/
.chess__row:nth-child(even) .chess__item:nth-child(even) {
    background-color: rgb(190, 175, 175);
}

/*40*/
.chess__row:nth-child(odd) .chess__item:nth-child(even),
/*40*/
.chess__row:nth-child(even) .chess__item:nth-child(odd) {
    background-color: rgb(235, 231, 208);
}

/*40*/
/*:first-child - pseudo class or pseudo element*/
.chess .chess__row .chess__item:first-child,
/*40*/
.chess .chess__row .chess__item:last-child {
    width: 40px;
    background-color: rgb(135, 117, 117);
    line-height: 100px;
}

/*40*/
.chess .chess__row:first-child .chess__item,
/*40*/
.chess .chess__row:last-child .chess__item {
    height: 40px;
    background-color: rgb(135, 117, 117);
    line-height: 40px;
}